@import "./reset.css";
@import "./theme.css";
@import "./base.css";

/* default 스타일 */

.button {
  --fill-color: var(--black);
  --hover-color: #27272a;
  --font-color: #fff;

  background: var(--fill-color);
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  color: #fff;
  border: var(--fill-color);
  border-radius: 50px;
  padding-inline: var(--small-spacing);
  padding-block: var(--x-small-spacing);
  font-size: var(--xx-small-text);
  margin-inline-end: var(--base-spacing);
  margin-block-start: var(--small-spacing);
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
    color: var(--font-color);
  }

  @media (min-width: 1024px) {
    font-size: var(--x-small-text);
  }
}

.default:focus {
  border: 3px solid #fff;
}

.ouline {
  background: transparent;
  border: 1px solid var(--fill-color);
  color: var(--fill-color);

  &:hover {
    background: var(--fill-color);
    color: var(--font-color);
  }

  &:focus {
    background: var(--fill-color);
    color: var(--font-color);
    border: 3px solid #fff;
  }
}
