@import "./reset.css";
@import "./theme.css";
@import "./base.css";
@import "./text-component.css";
@import "./button-component.css";

.card-component {
  text-align: center;
  block-size: var(--size);
  box-sizing: content-box;

  .button-component {
    margin-block-start: var(--base-spacing);
  }
}
