@import "./reset.css";
@import "./theme.css";
@import "./base.css";

.text-component {
  font-family: "Pretendard", sans-serif;
  text-align: center;
  color: var(--black);

  .product-title {
    font-size: var(--large-text);
    margin-block-end: var(--small-spacing);
    font-weight: 700;
    padding-block-start: var(--large-spacing);
  }

  .product-sub {
    font-size: var(--base-text);
    line-height: var(--line-normal);
    margin-block-end: var(--x-small-spacing);
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr;
  }

  .date {
    font-size: var(--small-text);
    color: var(--gray);
  }

  @media (min-width: 1024px) {
    .product-title {
      font-size: var(--extra-large-text);
      padding-block-start: var(--extra-large-spacing);
    }

    .product-sub {
      font-size: var(--medium-text);
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 0.25rem;
    }
  }
}
