/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import "./modern-reset.css";

:root {
  --defalut-font: 1rem;
  --defalut-color: #121212;
  --defalut-boder-color: #dadada;
  --default-bg-color: #fff;
  --green: #03cf5d;
  --right-space: 0.3125rem;
  --block-size: 2.8125rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 로고 */
svg {
  inline-size: 14.375rem;
  display: block;
  margin: 5rem auto;
}

/* 로그인 폼 */
.form-login {
  fieldset {
    border: 0;
  }
}

/* 아이디 비번 */
.login-input {
  --input-font: 0.875rem;

  .error {
    color: red;
    font-size: var(--input-font);
    padding-left: 1.25rem;
    display: none;
  }

  /* 가상 선택자, 사용자가 폼 요소와 상호작용한 뒤 폼 벨리데이션 */
  :user-invalid + .error {
    display: block;
  }

  input {
    font-size: var(--input-font);
    color: var(--defalut-color);
    border: 2px solid #dadada;
    outline: none;
    inline-size: 100%;
    block-size: var(--block-size);
    padding: 1.25rem;
    margin-block: 0.625rem;

    &:focus {
      background-color: #e9f0fd;
      border: 2px solid var(--green);
      outline: none;
    }
  }
}

/* 로그인 버튼 */
button {
  font-size: var(--defalut-font);
  color: #fff;
  background: var(--green);
  border: 0;
  inline-size: 100%;
  block-size: var(--block-size);
  margin-top: 1.25rem;
}

/* 버튼 아래 */
.login-bottom {
  display: flex;
  margin-top: 0.625rem;
  line-height: 1.7;
  justify-content: space-between;

  /* 로그인 상태 유지 */
  .stay-login {
    display: flex;
    margin-left: auto;

    /* 체크박스 디자인 */
    label {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: var(--right-space);
    }

    #check + label {
      background: url(../svg/uncheked.svg) no-repeat;
    }

    /* 체크 되었을 때 */
    #check:checked + label {
      background: url(../svg/checked.svg) no-repeat;
    }
  }

  /* 반응형 */
  @media (min-width: 768px) {
    /* 로그인 상태 유지 위치 변경 */

    .stay-login {
      margin-left: 0;
    }

    /* 보안 부분 */
    .ip-security {
      display: flex;

      /* 링크 디자인 */
      a {
        text-decoration: none;
        color: var(--defalut-color);
        margin-right: var(--right-space);
      }

      label {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: var(--right-space);
      }

      /* 온오프 설정 */
      #switch + label::after {
        content: "OFF";
        color: silver;
      }

      #switch:checked + label::after {
        content: "ON";
        color: var(--green);
      }
    }
  }
}

.ip-security {
  display: none;
}
